<nav class="nav">
  <ul class="nav_container">
    <a class="nav_item" href="/"><li>Home</li></a>
    <a class="nav_item" href="/about"><li>About</li></a>
    <a class="nav_item" href="/projects"><li>Projects</li></a>
  </ul>
</nav>
