<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include("includes/navbar.ejs"); %>
    <h1>Tentang saya:</h1>
    <p>
      Software engineer with 4+ years of professional experience. Strong team
      player, leader, and teacher. Experienced in the full stack development
      cycle from design, development, to deployment. Years of hands-on
      experience in JavaScript, ReactJS, and Flutter ecosystem. Loves teaching
      and sharing technical skills. “Interested in leading a team to build
      scalable apps that positively impact society.”
    </p>
  </body>
</html>
