<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/projects"><li>Projects</li></a>
      </ul>
    </nav>
    <h1 class="text-red">Selamat datang di website As'ad</h1>
    <p class="text-blue">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, magni
      rerum! Quisquam reiciendis, iure quia repudiandae exercitationem ut enim
      modi a id nobis. Recusandae quis quidem sapiente minus iste
      exercitationem?
    </p>
    <link rel="stylesheet" href="/css/styles.css" />
  </body>
</html>
