<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/projects"><li>Projects</li></a>
      </ul>
    </nav>
    <h1>Projects by As'ad</h1>
    <ol>
      <li>Website IDF (status: done)</li>
      <li>Website Iyada (status: done)</li>
      <li>Self driving car (status: in progress)</li>
    </ol>
  </body>
</html>
